[Unit]
Description=SadApp host agent service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/sadapp-host-agent --key-id=<Generated Key> --key-secret=<Generated Secret>

[Install]
WantedBy=multi-user.target